# macOS system files
.DS_Store
.AppleDouble
.LSOverride
git_diff.txt

# iCloud files
*.icloud

# Obsidian files
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.trash

# Copilot Index Files
.obsidian/copilot-*.*

# Archives document
🏠 Personal/4. Archives/copilot-conversations

# Voice Journal
🏠 Personal/📝 Journals/**/*.webm
🏠 Personal/📝 Journals/**/*.m4a
🏠 Personal/📝 Journals/**/*.wav
🏠 Personal/📝 Journals/**/*.mp3
🏠 Personal/📝 Journals/**/*.mp4
*.mov

# my plugins
quick-share-note-to-gist-dev/
view-mode-toggle/
node_modules/
hot-reload/
.github/

*.out

.vscode
