/** Hide Folder **/
div[data-path="ZZ - Settings/user-scripts"] {
    display: none;
}

/* Border on different mode */
div[data-mode=source] div.view-content > div:not(.is-live-preview) {
    border-top: 2px dashed #FFA500;

    span.cm-url {
        pointer-events: none;
        text-decoration: none;
        color: inherit; 
      }
}

div.view-content > div.is-live-preview {
    border-top: 2px solid #FFA500;
}

/** Hide Todo if empty **/
.homepage div.callout:not(:has(.contains-task-list)) {
    display: none !important;
}
